
.primary-logo > p {
    color: #808080;
    font-size: 16px;
    font-style: italic;
    text-align: right;
    margin-top: 10px;
    
    
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
    
}

.content-wrapper {
    width: 660px;
}

.content-branding {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
}

.content-branding p {
    color: #808080;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    margin-top: 5px;
}

.content-primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.content-primary img {
    height: 349px;
    width: 320px;

}


.content-columns {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-content: center;
    text-align: left;
    gap: 50px;
    width: 660px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.content-columns li {
    margin-bottom: 15px;
    color: #808080;
    font-size: 18px;
    font-style: italic;
    text-align: left;
    margin-top: 10px;
    
}


.left-column h3 {
    margin-bottom: 30px;
    text-align: center;
    color: #0079FF;
    
}
.center-column h3 {
    margin-bottom: 30px;
    text-align: center;
    color: #DC0004;

}
    
.right-column {
    text-align: center;
}
.right-column img {
    height: 100px;
    width: 100px;
}

.content-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;

}

.alternate-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.alternate-options h2 {
    width: 100%;
    text-align: left;
}

.alternate-options li {
    margin-bottom: 15px;
    color: #808080;
    font-size: 18px;
    font-style: italic;
    text-align: left;
    margin-top: 20px;
}

.images-alternate-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.images-alternate-options img:first-child {
    height: 250px;
    width: 250px;
    margin-top: 50px;
}
.images-alternate-options img:last-child {
    height: 25%;
    width: 300px;
    margin-top: 50px;
}

.circle-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.square-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.download {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-top: 50px;
}

.download a {
    text-decoration: none;
    color: cornflowerblue;
    
}

.usage {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    color: #808080;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 20px;
}

.usage p {
    color: #808080;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    margin-top: 10px;
}