@media (max-width: 48em) {
    
    .body {
        margin: 0;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

    }

    .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        font-size: 100%;
    }

    .content-primary {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;

    }

    .primary-logo p {
        align-items: center;
        text-align: center;
    }
    .primary-logo {
        align-items: center;
        text-align: center;
    }


    .content-columns {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        text-align: left;
        gap: 50px;
        width: 100%;
    }

    .content-columns ul {
        display: flex;
        flex-direction: column;
        flex: 100%;
        justify-content: center;
        text-align: left;
        padding: 0 25%;
    }

    .images-alternate-options {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    

    

}